<div class="container-fluid bg-white mb-4">
  <div class="container">
    <div class="row p-2">
      <div class="col-6 d-flex align-items-center">
        <p class="mb-0"><i class="fas fa-phone-square-alt"></i> Cóntactanos: (+57) 310 789 7766</p>
      </div>
      <div class="col-6">
        <a class="btn btn-light py-1 px-2 float-end" href="/home">
          <i class="fas fa-shopping-cart"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


<footer>
  <div class="container-fluid bg-white mb-4">
    <hr>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Tienda central
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Autopartes MIX.</strong> Dirección: Industrial 42, Lomas de Becerra, Atizapan de Zaragoza. Estado de México. CP. 1450.
          </div>
        </div>
      </div>

    </div>
    <hr>
  </div>
</footer>
