<div class="container">
  <div class="row">
    <div class="col-lg-8 d-flex">
      <div class="card">
        <img src="./assets/img/img03.jpg" class="card-img-top" alt="motor 01">
        <div class="card-body">
          <h5 class="card-title">Motor 03</h5>
          <p class="card-text">Sistema de inyección de combustible: los motores ISX utilizan actuadores de dosificación y sincronización y, por su parte, el X15 cuenta con un riel común de alta presión. ... Su rango verde se alcanza a menos revoluciones, lo que promueve mayor eficiencia de combustible.</p>
        </div>
      </div>
      <div class="col-lg-3 d-flex">
        <div class="card-body">
          <h5 class="card-title">Precio normal</h5>
          <h5 class="card-title">$4500 pesos</h5>
          <p class="card-text">Envio gratis a toda la república</p>
          <a href="/compra" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

