<div class="container bg-header rounded p-4 mb-4 shadow">
  <div class="row">
    <div class="col-2">
      <img src="./assets/img/logo.svg" alt="Logo">
    </div>
    <div class="col-5">
      <h1 class="mb-4">Autopartes MIX</h1>
      <p>Repuestos y mantenimiento de automoviles</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex">
      <div class="card">
        <img src="./assets/img/img01.jpg" class="card-img-top" alt="motor 01">
        <div class="card-body">
          <h5 class="card-title">Motor 01</h5>
          <p class="card-text">Sistema de inyección de combustible: los motores ISX utilizan actuadores de dosificación y sincronización y, por su parte, el X15 cuenta con un riel común de alta presión. ... Su rango verde se alcanza a menos revoluciones, lo que promueve mayor eficiencia de combustible.</p>
          <a href="/motor" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-flex">
      <div class="card">
        <img src="./assets/img/img02.jpg" class="card-img-top" alt="motor 01">
        <div class="card-body">
          <h5 class="card-title">Motor 02</h5>
          <p class="card-text">Sistema de inyección de combustible: los motores ISX utilizan actuadores de dosificación y sincronización y, por su parte, el X15 cuenta con un riel común de alta presión. ... Su rango verde se alcanza a menos revoluciones, lo que promueve mayor eficiencia de combustible.</p>
          <a href="/motor1" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 d-flex">
      <div class="card">
        <img src="./assets/img/img03.jpg" class="card-img-top" alt="motor 01">
        <div class="card-body">
          <h5 class="card-title">Motor 03</h5>
          <p class="card-text">Sistema de inyección de combustible: los motores ISX utilizan actuadores de dosificación y sincronización y, por su parte, el X15 cuenta con un riel común de alta presión. ... Su rango verde se alcanza a menos revoluciones, lo que promueve mayor eficiencia de combustible.</p>
          <a href="/motor2" class="btn btn-primary">Más información</a>
        </div>
      </div>
    </div>
  </div>
</div>

